<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <arg name="no_gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find webots_ros)/worlds/khr-3hv.wbt"/>
  </include>

  <arg name="auto_close" default="false" doc="Startup mode"/>
  <arg name="filename" />
  <param name="filename" type="string" value="$(arg filename)" />
  <node name="play_motion_khr" pkg="webots_ros" type="play_motion_khr" required="$(arg auto_close)" output="screen"/>
  <node name="read_motion" pkg="webots_ros" type="read_motion.py" />
</launch>
